.container {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.quotes {
  margin-bottom: 12px;
  margin-top: 12px;
}

.image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.actions {
  margin-top: 12px;
}

.description {
  margin-top: 12px;
}
